##################
# Python
##################
**/__pycache__/
venv/
*.py[cod]

##################
# Documents
##################
*.png
*.pdf
*.eps
*.done

##################
# Latex
##################
*.aux
*.bbl
*.log
*.out
*.toc
*.blg

##################
# Build dir
##################
**/build/

##################
# Verilog
##################
*.vcd
*_tb

##################
# Vivado
##################
**/xilinx/
vivado.tcl
vivado.jou
vivado.log