##################
# Python
##################
**/__pycache__/
venv/
*.py[cod]

##################
# Documents
##################
*.png
*.pdf
*.eps
*.done

##################
# Latex
##################
*.aux
*.bbl
*.log
*.out
*.toc
*.blg
*.brf
*.lot
*.lof

##################
# Build dir
##################
**/build/

##################
# Verilog
##################
**/project/*.vcd
**/project/*_tb

##################
# Modelsim
##################
**/project/modelsim.ini
**/project/transcript
**/project/*.wlf
**/project/work

##################
# Wavedisp
##################
**/project/*.modelsim.tcl
**/project/*.gtkwave.tcl
**/project/*.rivierapro.tcl

##################
# Vivado
##################
**/project/xilinx/
**/project/*.jou
**/project/vivado.tcl
**/project/vivado.log