##################
# Python
##################
**/__pycache__/
**/.venv/
venv/
*.py[cod]

##################
# Documents
##################
*.done
**/figures/*.pdf
**/figures/*.eps
doc/logo/*png

##################
# Latex
##################
*.aux
*.bbl
*.log
*.out
*.toc
*.blg
*.brf
*.lot
*.lof

##################
# Build dir
##################
**/build/

##################
# Verilog simulation
##################
**/project/*.vcd
**/project/*_tb
**/project/*_postsyn

##################
# Verilator
##################
**/project/obj_dir/
*.o
*.a
*.d

##################
# Modelsim
##################
**/project/modelsim.ini
**/project/transcript
**/project/*.wlf
**/project/work/

##################
# Wavedisp
##################
**/project/*.modelsim.tcl
**/project/*.gtkwave.tcl
**/project/*.rivierapro.tcl

##################
# Vivado
##################
.Xil/
**/project/.Xil/
**/project/xilinx/
**/project/*.jou
**/project/*.log
**/project/*.rpt
**/project/vivado-project.tcl
**/project/vivado-gen-post-syn.tcl
**/project/vivado-gen-post-impl.tcl
**/project/vivado-*/

##################
# Quartus
##################
**/project/quartus-*/
